@font-face {
    font-family:calibri ;
    src: url(../fonts/calibri.ttf);
}
@font-face {
    font-family:calibri_bold ;
    src: url(../fonts/calibribold.ttf);
}
@font-face {
    font-family:calibri_bold_italic ;
    src: url(../fonts/calibribolditalic.ttf);
}
@font-face {
    font-family:calibri_italic ;
    src: url(../fonts/calibriitalic.ttf);
}
@font-face {
    font-family:calibri_light ;
    src: url(../fonts/calibrilight.ttf);
}
@font-face {
    font-family:calibri_light_italic ;
    src: url(../fonts/calibrilightitalic.ttf);
}
@font-face {
    font-family:edosz ;
    src: url(../fonts/edosz.ttf);
}
@font-face {
    font-family:futura ;
    src: url(../fonts/futura.ttf);
}
@font-face {
    font-family:futura_medium ;
    src: url(../fonts/futuramedium.otf);
}
body{
	color: white
}
.inner{
    width: 1000px;
    margin: auto;
}
#main{
    margin:0;
    padding:0;
    background: url(../images/paysage.jpg) no-repeat center fixed; 
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
    min-height: 1400px;

}
/*=====================NAVIGATION==========================*/
#nav{
    background-color: #975734;
    opacity: 0.76;
}
#nav ul h4{
    font-family: futura;
    color: white;
    font-size: 30px;
}

#nav ul li{
    list-style: none;
    display: inline-block;
    margin: 25px;
}

#nav ul img{
    width: 192px;
}
#nav ul{
    width:90%;
    text-align: center;
}
#nav ul a{
    text-decoration: none;
    color: white;
}
#nav ul h4 a:hover{
    border-bottom: 1px solid white;
}
/*=====================CARTE==========================*/
.titre h3{
    font-family: edosz;
    font-size: 40px;
    text-align: center;
    opacity: 0.85;
    margin-bottom: 10px;
    margin-top: 50px;
}
.texte{
    font-family: calibri_light;
    text-align: center;
    color: white;
    font-size: 20px;
    width: 70%;
    margin: auto;
    opacity: 100;
    margin-bottom: 50px;
}
/*=====================FOOTER==========================*/
.footer{
    background-image: url(../images/footer.png);
    height: 336px;
    padding-top: 200px
}
.logo{
    margin-top: 25px;
}
.mentionslegales p{
    font-family: calibri_light_italic;
    font-size: 15px;
    text-align: center;
    margin-top: 30px;
}