@font-face {
    font-family:calibri ;
    src: url(../fonts/calibri.ttf);
}
@font-face {
    font-family:calibri_bold ;
    src: url(../fonts/calibribold.ttf);
}
@font-face {
    font-family:calibri_bold_italic ;
    src: url(../fonts/calibribolditalic.ttf);
}
@font-face {
    font-family:calibri_italic ;
    src: url(../fonts/calibriitalic.ttf);
}
@font-face {
    font-family:calibri_light ;
    src: url(../fonts/calibrilight.ttf);
}
@font-face {
    font-family:calibri_light_italic ;
    src: url(../fonts/calibrilightitalic.ttf);
}
@font-face {
    font-family:edosz ;
    src: url(../fonts/edosz.ttf);
}
@font-face {
    font-family:futura ;
    src: url(../fonts/futura.ttf);
}
@font-face {
    font-family:futura_medium ;
    src: url(../fonts/futuramedium.otf);
}
body{
	color: white
}
.inner{
    width: 1000px;
    margin: auto;
}
#main{
    margin:0;
    padding:0;
    background: url(../images/paysage.jpg) no-repeat center fixed; 
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
    min-height: 1400px;

}
/*=====================NAVIGATION==========================*/
#nav{
    background-color: #975734;
    opacity: 0.76;
}
#nav ul h4{
    font-family: futura;
    color: white;
    font-size: 30px;
}

#nav ul li{
    list-style: none;
    display: inline-block;
    margin: 25px;
}

#nav ul img{
    width: 192px;
}
#nav ul{
    width:90%;
    text-align: center;
}
#nav ul a{
    text-decoration: none;
    color: white;
}
#nav ul h4 a:hover{
    border-bottom: 1px solid white;
}
/*=====================PRESENTATION==========================*/
#titre h1{
    font-family: calibri_italic;
    color: white;
    font-size: 55px;
    padding-top: 50px;
    text-align: center;
    margin-bottom: -20px;
}
#titre h3{
    font-family: edosz;
    color: white;
    font-size: 35px;
    margin-top: 100px;
    text-align: center;
    opacity: 0.80;
}
.details p{
    font-family: calibri_light;
    text-align: center;
    color: white;
    font-size: 20px;
    width: 70%;
    margin: auto;
    margin-top: 10px;
}
#secondTitre h3{
    font-family: edosz;
    color: white;
    opacity: 0.80;
    font-size: 35px;
    margin-bottom: 0;
    text-align: center;
}
.secondDetails p{
    font-family: calibri_light;
    text-align: center;
    color: white;
    font-size: 20px;
    width: 70%;
    margin: auto;
    margin-top: 10px;
    display: block;
    width: 800px
}
#thirdTitre h3{
    font-family: edosz;
    color: white;
    opacity: 0.80;
    font-size: 35px;
    margin-top: 10px;
    text-align: center;
}
.thirdDetails p{
    font-family: calibri_light;
    text-align: center;
    color: white;
    font-size: 20px;
    width: 70%;
    margin: auto;
    margin-top: 10px;
}
.listeTresors ul{
    display: block;
    width: 500px;
    margin: auto;
    margin-top: 30px;
}
.listeTresors ul li{
    font-family: calibri_light_italic;
    text-align: justify;
    font-size: 20px;
}
#btnCarte a{
    font-family: calibri_light_italic;
    color: white;
    text-decoration: none;
    font-size: 35px;
    text-align: center;
    border: 1.5px dotted #fff36b;
    padding: 10px;
    border-radius: 20px
}
#btnCarte a:hover{
    box-shadow: 2px 0px 8px #fff798;
}
#boutonCarte{
    margin: auto;
    width: 37%;
    margin-top: 25px;
}
/*=====================FOOTER==========================*/
.footer{
    background-image: url(../images/footer.png);
    
    height: 339px;
    padding-top: 200px
}
.logo{
    margin-top: 25px;
}
.mentionslegales p{
    font-family: calibri_light_italic;
    font-size: 15px;
    text-align: center;
    margin-top: 30px;
}