@font-face {
    font-family:calibri ;
    src: url(../fonts/calibri.ttf);
}
@font-face {
    font-family:calibri_bold ;
    src: url(../fonts/calibribold.ttf);
}
@font-face {
    font-family:calibri_bold_italic ;
    src: url(../fonts/calibribolditalic.ttf);
}
@font-face {
    font-family:calibri_italic ;
    src: url(../fonts/calibriitalic.ttf);
}
@font-face {
    font-family:calibri_light ;
    src: url(../fonts/calibrilight.ttf);
}
@font-face {
    font-family:calibri_light_italic ;
    src: url(../fonts/calibrilightitalic.ttf);
}
@font-face {
    font-family:edosz ;
    src: url(../fonts/edosz.ttf);
}
@font-face {
    font-family:futura ;
    src: url(../fonts/futura.ttf);
}
@font-face {
    font-family:futura_medium ;
    src: url(../fonts/futuramedium.otf);
}
body{
	color: white
}
.inner{
	width: 1000px;
	margin: auto;
}
#main{
	margin:0;
	padding:0;
	background: url(../images/pieds.jpg) no-repeat center fixed; 
	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
	background-size: cover; /* version standardisée */
	min-height: 1400px;

}
/*=====================NAVIGATION==========================*/
#nav{
	background-color: #975734;
	opacity: 0.76;
}
#nav ul h4{
	font-family: futura;
	color: white;
	font-size: 30px;
}

#nav ul li{
	list-style: none;
	display: inline-block;
	margin: 25px;
}

#nav ul img{
	width: 192px;
}
#nav ul{
	width:90%;
	text-align: center;
}
#nav ul a{
	text-decoration: none;
	color: white;
}
#nav ul h4 a:hover{
	border-bottom: 1px solid white;
}
/*=====================PRESENTATION==========================*/
#slogan{
	margin: auto;
	text-align: center;
	width:50%;
}
#slogan p{
	margin:0;
	padding: 0;
}
#slogan h1{
	color: white;
	font-family: edosz;
	font-size: 125px;
	opacity: 0.90;
	margin-top:-30px;
	padding:-10px;
}
#slogan h3{
	color: white;
	font-family: futura_medium;
	font-size: 36px;
	opacity: 0.90;
	padding: 0;
	margin-top: 150px;
}
#btnAventure a{
	font-family: calibri_light_italic;
	color: white;
	text-decoration: none;
	font-size: 35px;
	text-align: center;
	border: 1.5px dotted #fff36b;
	padding: 10px;
	border-radius: 20px
}
#btnAventure a:hover{
	box-shadow: 2px 0px 8px #fff798;
}
#boutonAventure2{
	margin: auto;
	width: 42%;
	margin-top: 25px;
	margin-bottom: 80px;
}
/*=====================CONCEPT==========================*/
#concept{
	background-image: url(../images/appareilphoto.png);
	padding-top: 185px;
	min-height: 1468px
}
#titreConcept h3{
	font-family: edosz;
	color: white;
	opacity: 0.47;
	font-size: 25px;
	margin-bottom: 0;
	margin-top: 175px;
}
#titreConcept h1{
	font-family: calibri_italic;
	color: white;
	font-size: 65px;
	margin-top: 0;

}
#titreConcept{
	text-align: center;
}
#texteConcept{
	text-align: center;
	color: white;
	font-size: 17px;
	width: 70%;
	margin: auto;
	font-family: calibri_light;
}
/*=====================AVIS==========================*/
#secondMain{
	margin:0;
	padding:0;
	background: url(../images/montagnes.jpg) no-repeat center fixed; 
	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
	background-size: cover; /* version standardisée */
	min-height: 1400px;
	margin-top: -220px;
}
#imagesTitre{
	background-image: url(../images/triangles.png);
	height: 258px;
}
#titreAvis h3{
	font-family: calibri;
	font-size: 70px;
	text-align: center;
	margin-bottom: 100px;
}
.titreCommentaire h5{
	font-family: calibri_bold;
	color: white;
	font-size: 18px;
	margin-bottom: 20px;
}
.commentaire p{
	font-family: calibri_light;
	font-size: 15px;
	text-align: justify;
}
.signatureAvis p{
	font-family: calibri_light_italic;
	font-size: 10;
}
/*=====================FOOTER==========================*/
.footer{
	background-image: url(../images/contact.png);
	height: 768px;
	padding-top: 200px
}
#titreContact h4{
	font-family: calibri;
	font-size: 60px;
	text-align: justify;
	width: 50%;
	margin: auto;
}
#contactez h6{
	font-family: calibri_light;
	font-size: 30px;
	opacity: 0.40;
	text-align: center;
}
#btnEnvoyer a{
	font-family: calibri_light_italic;
	color: white;
	text-decoration: none;
	font-size: 20px;
	text-align: center;
	border: 1.5px dotted #fff36b;
	padding: 10px;
	border-radius: 20px;
	display: block;
	margin: auto;
}
#btnEnvoyer a:hover{
	box-shadow: 2px 0px 8px #fff798;
}.logo{
	margin-top: 25px;
}
.mentionslegales p{
	font-family: calibri_light_italic;
	font-size: 15px;
	text-align: center;
	margin-top: 30px;
}